@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}

html {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	background-color: #FAFBFC;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-size: 18px;
}

.icon {
	border-radius: 50%;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 4px;
	position: relative;
}

.icon:hover {
	background-color: hsla(201, 12%, 92%, 90%);
}


.ReactModal__Overlay {
	background-color: hsla(207, 16%, 12%, 70%) !important;
}


/* Typography Helpers */
.text-center { text-align: center; }
.fw-light {
	font-weight: 300;
}
.fw-bold {
	font-weight: 700;
}
.f14 {
	font-size: 14px;
}
.f18 {
	font-size: 18px;
}
.f24 {
	font-size: 24px;
}
.f36 {
	font-size: 36px;
}
.f48 {
	font-size: 48px;
}